@page "/CustomizeLinks"
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="row">
                <span class="headingM">Customize your links</span>
                <span class="bodyS">Add/edit/remove links below and then share all your profile links with the world!</span>
            </div>
            <div class="row mt-5">
                <button class="secondaryButton">  + Add new link</button>
            </div>
            <div class="row mt-3">
                <div class="block-background ">
                    <img src="/img/illustration-empty.svg" />
                </div>
                <div class="row headingM mt-2">
                    <span>Let's get you started </span>
                </div>
                <div class="row bodyM mt-2">
                    <span>
                        Use the "Add new link button to get started. Once ytou have more than one link, you can reorder and edit them. We're here to help you share your
                        profile with everyone!"
                    </span>
                </div>
                <div class="row mt-5 justify-content-end">

                    <button class="primaryButton" style="width:100px; height:50px">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>



@code {

}
