@page "/CustomizeLinks"
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="row">
                <span class="headingM">Customize your links</span>
                <span class="bodyS">Add/edit/remove links below and then share all your profile links with the world!</span>
            </div>
            <div class="row mt-5">
                <button class="secondaryButton">  + Add new link</button>
            </div>
@*             <Link /> *@
                <NoLinks/>
        </div>
    </div>

</div>



@code {

}
