<div class="block-background">
    <div class="row align-items-center justify-content-between">
        <div class="col-2">
                <img src="/img/icon-drag-and-drop.svg" />
                <span class="headingS"> Link# </span>
        </div>
        <div class="col-2">
            <span class="BodyM">Remove</span>
        </div>
    </div>
</div>
@code {

}
