
<div class="block-background mt-3 p-4">
    <div class="row text-center">
        <img src="/img/illustration-empty.svg" />
    </div>
    <div class="row headingM mt-2 text-center">
        <span>Let's get you started </span>
    </div>
    <div class="row bodyM mt-2 text-center">
        <span>
            Use the "Add new link button to get started. Once ytou have more than one link, you can reorder and edit them. We're here to help you share your
            profile with everyone!"
        </span>
    </div>
</div>


