@page "/preview"
<div class="container page-background"  style="height:800px;">
    <div class="row preview-header justify-content-center p-4">
        <div class="col-12 ">
            <div class="d-flex flex-column justify-content-between" style="height:100%">
                <div class="row preview-nav justify-content-between align-items-center">
                    <div class="col-auto">
                        <button class="secondary-button-blue">Back to editor</button>
                    </div>
                    <div class="col-auto">
                        <button class="primary-button-blue">Copy link</button>
                    </div>
                </div>

                <div class="row justify-content-center" style="background-color:red">
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center preview-card-container">
        <div class="card preview-card center-text">
            <div class="card-body">
            </div>
        </div>
    </div>

</div>

@code {
}
