
<div class="card p-2 section-background" style="border:none;">
    <div class="card-body">
        <div class="row justify-content-start align-items-center ">
            <span class="headingM">Profile Details</span>
            <span class="bodyM">Add your details to create a personal touch to your profile.</span>
        </div>
        <div class="row justify-content-start mt-2">
            <div class="block-background p-4" style="height:233px">
                <div class="row align-items-center" style="height:100%">
                    <div class="col-3">
                        <span class="bodyM">Profile picture</span>
                    </div>
                    <div class="col-4" style="height:95%">
                        <div class="row" style="height:100%">
                            @if (ProfilePhotoViewModel.HasPhoto)
                            {

                                <button type="button" data-bs-toggle="modal" data-bs-target="#reg-modal"
                                        style=@ProfilePhotoViewModel.ImgStyle>
                                    <div class="align-items-center">
                                        <span class="upload-image-text-white">Change Image</span>
                                    </div>
                                </button>
                            }
                            else
                            {
                                <button type="button" class="profile-image-block" data-bs-toggle="modal" data-bs-target="#reg-modal">
                                    <div class="align-items-center">
                                        <img src="/img/icon-upload-image.svg" height="40" width="40" />
                                        <br />
                                        <span class="upload-image-text-blue">+ Upload Image</span>
                                    </div>
                                </button>
                            }
                        </div>
                    </div>
                    <div class="col-5">
                        <p class="bodyS ms-4">Image must be below 1024x1024px<br /> Use PNG or JPG format</p>
                    </div>
                </div>
            </div>


        </div>
        <div class="row  justify-content-start my-1">                     
            <div class="block-background g-4 p-4" style="height:233px">
                <div class="row my-4  align-items-center">
                    <div class="col-4">
                        <label for="inputFirstName" class="profile-form-text col-form-label">First name*</label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="inputFirstName" class="form-control" aria-describedby="firstnameHelpInline">
                    </div>
                </div>
                <div class="row my-4 align-items-center">
                    <div class="col-4">
                        <label for="inputLastName" class="profile-form-text col-form-label">Last name*</label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="inputLastName" class="form-control" aria-describedby="lastNameHelpInline">
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4">
                        <label for="inputEmail" class="profile-form-text col-form-label">Email</label>
                    </div>
                    <div class="col-8">
                        <input type="email" id="inputEmail" class="form-control" aria-describedby="emailHelpInline">
                    </div>
                </div>
            </div>                     
        </div>
    </div>
    <div class="card-footer section-background">
        <div class="row justify-content-end mt-1">
            <div class="col-auto text-end">
                <button type="submit" class="primary-button-blue">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reg-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title headingM">Upload your profile photo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <InputFile OnChange="@OnPhotoUploaded" />

            </div>
            <div class="modal-footer text-end">
                <button type="button" class="primary-button-blue" @onclick="OnSubmit" data-bs-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>