
<div aria-live="polite" aria-atomic="true" style="position: relative;">
    <div class="toast-container bottom-0 start-50 translate-middle-x">
        <div class="toast" id="bootstrapToast" role="alert" style=" background-color:#333333; min-width:100px">
            <div class="d-flex">
                <div class="toast-body" style=" background-color:#333333; color:white">
                    <img src="/img/logo-devlinks-small.svg" />
                    <span class="bodyM">@ToastMessage</span>
             
                </div>
            </div>
        </div>
    </div>

</div>


@code {


    [Parameter]
    public String ToastMessage { get; set; } = "";


}
